/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.text-gradient {
  font-family: 'Inter', sans-serif; /* Use Inter Semi-Bold */
  font-weight: 600; /* Ensure Semi-Bold weight is applied */
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 4s infinite; /* Adjust the animation duration as needed */
}

@keyframes gradient-animation {
  0% {
    background-image: -webkit-linear-gradient(0deg, #f44336 0%);
  }
  25% {
    background-image: -webkit-linear-gradient(0deg, #f44336 0%, #ff5722 20%);
  }
  50% {
    background-image: -webkit-linear-gradient(0deg, #f44336 0%, #ff5722 20%, #ff9800 40%);
  }
  75% {
    background-image: -webkit-linear-gradient(0deg, #f44336 0%, #ff5722 20%, #ff9800 40%, #ffc107 60%);
  }
  100% {
    background-image: -webkit-linear-gradient(0deg, #f44336 0%, #ff5722 20%, #ff9800 40%, #ffc107 60%, #ffeb3b 80%);
  }
}
